@import url(https://fonts.googleapis.com/css?family=Lato:300,400,900,900i);

/*========Global Stylesheet========*/
body {
	margin: 0px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 0.8em;
	animation: colorchange 15s cubic-bezier(1,0,0,1) infinite;
	-webkit-animation: colorchange 15s cubic-bezier(1,0,0,1) infinite;
	cursor: url(cursor.png), auto;
}
.bg_img{
	width: 100vw;
	height: 100vh;
	background-image: url(background.png);
	background-size: 380px;
	background-repeat: repeat;
	display: flex;
	align-items: center;
	flex-direction: column;
	position: fixed;
	z-index: 0;
}
.overlay_black{
	background-color: rgba(0, 0, 0, 0.7);
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 1;
	top: 0;
}
.content{
	display: flex;
	align-items: center;
}
.blur-in{
	-webkit-animation: blur 2s forwards;
	-moz-animation: blur 2s forwards;
	-o-animation: blur 2s forwards;
	animation: blur 2s forwards;
}
.blur-out{
	-webkit-animation: blur-out 2s forwards;
	-moz-animation: blur-out 2s forwards;
	-o-animation: blur-out 2s forwards;
	animation: blur-out 2s forwards;
}
@keyframes colorchange{
	0%   {background: rgb(228, 185, 188);}
	30%  {background: rgb(211, 174, 231);}
	60%  {background: rgb(182, 199, 242);}
	90%  {background: rgb(163, 219, 204);}
	100% {background: rgb(228, 185, 188);}
}
@-webkit-keyframes colorchange{
	0%   {background: rgb(228, 185, 188);}
	30%  {background: rgb(211, 174, 231);}
	60%  {background: rgb(182, 199, 242);}
	90%  {background: rgb(163, 219, 204);}
	100% {background: rgb(228, 185, 188);}
}
@-webkit-keyframes blur {
	0% {
		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px);
		-ms-filter: blur(0px);
		filter: blur(0px);
	}

	100% {
		-webkit-filter: blur(4px);
		-moz-filter: blur(4px);
		-o-filter: blur(4px);
		-ms-filter: blur(4px);
		filter: blur(4px);
	}
}
@-moz-keyframes blur {
	0% {
		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px);
		-ms-filter: blur(0px);
		filter: blur(0px);
	}

	100% {
		-webkit-filter: blur(4px);
		-moz-filter: blur(4px);
		-o-filter: blur(4px);
		-ms-filter: blur(4px);
		filter: blur(4px);
	}
}
@-o-keyframes blur {
	0% {
		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px);
		-ms-filter: blur(0px);
		filter: blur(0px);
	}

	100% {
		-webkit-filter: blur(4px);
		-moz-filter: blur(4px);
		-o-filter: blur(4px);
		-ms-filter: blur(4px);
		filter: blur(4px);
	}
}
@keyframes blur {
	0% {
		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px);
		-ms-filter: blur(0px);
		filter: blur(0px);
	}

	100% {
		-webkit-filter: blur(2px);
		-moz-filter: blur(2px);
		-o-filter: blur(2px);
		-ms-filter: blur(2px);
		filter: blur(2px);
	}
}
@-webkit-keyframes blur-out {
	0% {
		-webkit-filter: blur(4px);
		-moz-filter: blur(4px);
		-o-filter: blur(4px);
		-ms-filter: blur(4px);
		filter: blur(4px);
	}

	100% {
		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px);
		-ms-filter: blur(0px);
		filter: blur(0px);
	}
}
@-moz-keyframes blur-out {
	0% {
		-webkit-filter: blur(4px);
		-moz-filter: blur(4px);
		-o-filter: blur(4px);
		-ms-filter: blur(4px);
		filter: blur(4px);
	}

	100% {
		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px);
		-ms-filter: blur(0px);
		filter: blur(0px);
	}
}
@-o-keyframes blur-out {
	0% {
		-webkit-filter: blur(4px);
		-moz-filter: blur(4px);
		-o-filter: blur(4px);
		-ms-filter: blur(4px);
		filter: blur(4px);
	}

	100% {
		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px);
		-ms-filter: blur(0px);
		filter: blur(0px);
	}
}
@keyframes blur-out {
	0% {
		-webkit-filter: blur(4px);
		-moz-filter: blur(4px);
		-o-filter: blur(4px);
		-ms-filter: blur(4px);
		filter: blur(4px);
	}

	100% {
		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px);
		-ms-filter: blur(0px);
		filter: blur(0px);
	}
}
footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	padding: 0.7rem;
	color: rgb(255, 255, 255);
	text-align: center;
	font-weight: 300;
}
/*========Main Stylesheet========*/
#main{
	width: 80vh;
	height: 80vh;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	opacity: 0;
}
/*========Menu Stylesheet========*/
/*!!!!!!FIXME!!!!!*/
#menuContent{
	max-width: 80vw;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 1;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 3;
	font-weight: 900;
	font-size: 22px;
}
#back, #back_doodle{
	position: fixed;
	margin: auto;
	padding: 3vw;
	opacity: 0;
	z-index: 3;
	align-self: center;
	color: rgb(255, 255, 255);
	font-weight: 900;
	font-size: 25px;
	cursor: url(pointer.png), auto;

}
.menu{
	color: rgb(255, 255, 255);
	padding: 2vw;
	margin: auto;
}
.menu:hover, #back:hover, #back_doodle:hover,
a:hover{
	color: rgb(255, 41, 41);
	font-style: italic;
	cursor: url(pointer.png), auto;
}
/*========About Stylesheet========*/
#About{
	display: block;
	max-width: 50vw;
	position: fixed;
	overflow-y:auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 2vw;
	padding-bottom: 30px;
	opacity: 0;
	color: rgb(255, 255, 255);
	word-wrap: break-word;
}
h3{
	font-weight: 400;
}
p{
	font-size: 1em;
	font-weight: 100;
}
a{
	padding-right: 5px;
	outline: none;
	color: rgb(255, 255, 255);
}
.icon{
	min-width: 20px;
	max-width: 40px;
	margin: 5px;
	opacity: 0.8;
}
/*========Work Stylesheet========*/
#Work{
	display: block;
	max-width: 80vw;
	position: fixed;
	overflow-y:auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	opacity: 0;
	font-size: 11px;
	color: rgb(255, 255, 255);
}
.wrapper{
	margin: 10vh 5vh 30vh 5vh;
}
ul li{
	font-size: 18px;
}
.cs_contents{
	background-color: rgba(0, 0, 0, 0.69);
	margin: 10px;
	padding: 5px 15px 15px 15px;
	color: #dad1c6;
	visibility: hidden;
}
.cs_contents h3{
	font-weight: 900;
	color:rgb(243, 153, 61);
}
.cs_contents p{
	font-size: 0.8em;
	font-weight: 300;
}
.cs_contents ul li{
	font-size: 0.8em;
	font-weight: 300;
}
.cs_contents b{
	color: #94b6f5;
}
/*========Doodle Stylesheet========*/
#Doodle{
	position: fixed;
	width: 70vw;
	height: 95vh;
	top: 5vh;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	opacity: 0;
	z-index: -1;
	overflow: auto;
	display: flex;
	align-items: flex-start;
}
.photoframe{
	width: 100%;
	margin: 1%;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: flex-start;
}
img{
	margin: auto;
	width: 100%;
	background-size: cover;
	background-position: center;
	-webkit-backface-visibility: hidden;
}
.matsuri, .me, .pattern{
	padding-bottom: 20px;
	min-width: 200px;
	max-width: 50vw;
	flex-basis: auto; /* default value */
	flex-grow: 1;
}
.edible{
	padding-bottom: 20px;
	min-width: 200px;
	max-width: 80vw;
	flex-basis: auto; /* default value */
	flex-grow: 1;
}
.lostheads, .cards{
	padding-bottom: 20px;
	min-width: 200px;
	max-width: 40vw;
	flex-basis: auto; /* default value */
	flex-grow: 1;
}
.poster {
	padding-bottom: 20px;
	min-width: 200px;
	min-height: 200px;
	max-width: 20vw;
	max-height: 20vw;
	flex-basis: auto; /* default value */
	flex-grow: 1;
}
.container {
	position: relative;
	margin-bottom: 3vh;
	cursor: url(pointer.png), auto;
}
.image {
	display: block;
	width: 100%;
	height: auto;
}
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(23, 23, 23, 0.6);
}
.container:hover .overlay {
	opacity: 1;
}
.text {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
#doodle1, #doodle2, #doodle3, #doodle4, #doodle5,
#doodle6, #doodle7, #doodle8, #doodle9, #doodle10{
	position: fixed;
	width: 70vw;
	height: 95vh;
	top: 5;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	opacity: 0;
	z-index: -1;
	display: flex;
	flex-direction: column;
	overflow: auto;
}
#doodle1{
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}
#doodle2{
	width: 50vw;
}
.slide-button{
	width:1vw;
	text-align:left;
	border:none;
	display:inline-block;
	padding:4px 10px;
	vertical-align:middle;
	text-align:center;
	cursor: url(pointer.png), auto;
	outline: none;
	color:#ffffff;
	background-color:rgba(0, 0, 0, 0.44)
}
.slide-button:hover{
	color:rgb(255, 24, 24);
	background-color:rgba(255, 255, 255, 0.67)
}
.display-left{
	position:absolute;
	top:50%;left:0%;
	transform:translate(0%,-50%);
	-ms-transform:translate(-0%,-50%)
}
.display-right{
	position:absolute;
	top:50%;right:0%;
	transform:translate(0%,-50%);
	-ms-transform:translate(0%,-50%)
}
/*========Resume Stylesheet========*/
#Resume{
	position: fixed;
	width: 70vw;
	height: 95vh;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding: 0;
	opacity: 0;
	padding-top: 60px;
	padding-bottom: 60px;
	max-width: 1000px;
	min-width: 800px;
	overflow-y: auto;
}
/*========Contact Stylesheet========*/
#Contact{
	position: fixed;
	width: 35vw;
	height: 60vh;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	opacity: 0;
	color: rgb(255, 255, 255);
	padding: 20px;
	flex-wrap: wrap;
	font-size: 1.4em !important;
}
textarea,
input {
	border: none;
	outline: none;
	border-radius: 0;
	text-align: center;
	background: none;
	font-weight: 400;
	font-size: 15px;
	color: rgb(255, 255, 255);
	max-width: 90%;
	padding: 10px;
	border: 2px dashed rgba(255, 255, 255, 0);
	box-sizing: border-box;
	cursor: url(pointer.png), auto;
}
textarea{
	width: 400px;
	padding-top: 10px;
	margin-top: 10px;
}
input:required,
textarea:optional{
	border-bottom: 2px dotted rgba(255, 255, 255, 0.3);
}
input:focus:required:valid,
input:focus:required:invalid,
textarea:focus{
	border-bottom: 2px dashed rgb(255, 41, 41);
}
input:required:valid{
	border-bottom: 2px solid rgb(255, 41, 41);
}
::-webkit-input-placeholder {
	text-align: center;
	color: rgb(162, 162, 162);
	font-weight: 700;
	font-style: italic;
}
.txtstuff {
	resize: none;
	overflow: hidden;
}
.hiddendiv {
	display: none;
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow-wrap: break-word;
	padding: auto 12px auto 12px;
	font-size: 22px;
	font-weight: 400;
	line-height: 95%;
}
.common {
	min-width: 100px;
	max-width: 600px;
	min-height: 50px;
	overflow: hidden;
	padding: 10px;
}
.send{
	display: flex;
	align-items: center;
	margin: 5px;
	padding-top: 5px;
}
#send{
	border-radius: 0px;
	background:rgba(0,0,0,0);
	border: 3px solid rgba(85, 145, 255, 0);
	padding: 8px 16px;
	color: rgba(255, 255, 255, 0.93);
	margin: auto;
	width:100px;
	font-weight: 500;
	font-size: 20px;
}
#send:hover, #send:focus{
	background: rgb(255, 41, 41, 0);
	color: rgb(255, 41, 41);
	outline:none;
	cursor: url(pointer.png), auto;
	font-style: italic;
}
select {
	text-indent: 0.1px;
	text-overflow: '';
	display: flex;
	outline: none;
	height:auto;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 1px;
	position: relative;
	border-right-width: 15px;
	background-color: rgba(195, 195, 195, 0.33);
	color: rgb(255, 41, 41);
	margin-top: 15px;
	font-weight: 300;
	font-size: 18px;
	font-style: italic;
	&:focus {
		outline: none;
	}
}
#thankyou{
	width: 40vh;
	height: 60vh;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	opacity: 0;
	flex-direction: column;
}
